
@mixin transition($trans) {
	-webkit-transition: $trans;
	   -moz-transition: $trans;
	    -ms-transition: $trans;
	     -o-transition: $trans;
	        transition: $trans;
}
@mixin borderRadius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	    -ms-border-radius: $radius;
	     -o-border-radius: $radius;
	        border-radius: $radius;
}

$main-color: #333;

*:focus {
	outline: none;
}

html {
	min-height: 100%;
	background-color: $main-color;
	@include transition(background-color 0.5s);
}

body {
	font-size: 1em;
}

.isolated {
	color: rgba(255, 255, 255, 0.4);
}

.block {
    display: table;
    height: 100vh;
    position: relative;
    vertical-align: middle;
    width: 100%;

    .centered-cell {
    	display: table-cell;
    	vertical-align: middle;
    }
}

.title {
	text-align: center;
	font-family: 'Righteous';
	/*margin: 6% 0 3%;*/
	font-size: 4.2em;
	letter-spacing: 3px;
	color: rgba(255, 255, 255, 0.6);
}

.container {
	position: relative;
	width: 640px;
	margin: 0 auto;
}

.form-input {
	display: block;
	width: 100%;
	margin: 0 0 25px;
	padding: 10px 20px;
	border-radius: 2px;
    box-sizing: border-box;
	color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.colors ul {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #eee;
}

.colors ul li {
	display: block;
	width: 100%;
	padding: 15px 0;
	position: relative;
}

.colors li span.fa {
	float: right;
	padding: 10px;

	@include borderRadius(100%);
	@include transition(all 0.2s);
}

.badge, span.fa:hover, .form-input  {
	background-color: rgba(255, 255, 255, 0.1);
}

.badge {
	padding: 5px 12px;
	display: inline-block;
	width: 60px;
	text-align: center;
	margin-right: 15px;
	border-radius: 2px;
	color: rgba(255, 255, 255, 0.3);
}

/** Invert Colors **/

html.invert .badge, html.invert .form-input, html.invert span.fa:hover {
	background-color: rgba(0, 0, 0, 0.1)	
}

html.invert .isolated {
	color: rgba(0, 0, 0, 0.3);
}

html.invert .badge {
	color: rgba(0, 0, 0, 0.2);
}

html.invert .title {
	color: rgba(0, 0, 0, 0.5);
}

html.invert .form-input {
	color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

html.invert .colors ul {
	color: rgba(0, 0, 0, 0.4);
}

