*:focus {
  outline: none; }

html {
  min-height: 100%;
  background-color: #333;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }

body {
  font-size: 1em; }

.isolated {
  color: rgba(255, 255, 255, 0.4); }

.block {
  display: table;
  height: 100vh;
  position: relative;
  vertical-align: middle;
  width: 100%; }
  .block .centered-cell {
    display: table-cell;
    vertical-align: middle; }

.title {
  text-align: center;
  font-family: 'Righteous';
  /*margin: 6% 0 3%;*/
  font-size: 4.2em;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.6); }

.container {
  position: relative;
  width: 640px;
  margin: 0 auto; }

.form-input {
  display: block;
  width: 100%;
  margin: 0 0 25px;
  padding: 10px 20px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

.colors ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #eee; }

.colors ul li {
  display: block;
  width: 100%;
  padding: 15px 0;
  position: relative; }

.colors li span.fa {
  float: right;
  padding: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.badge, span.fa:hover, .form-input {
  background-color: rgba(255, 255, 255, 0.1); }

.badge {
  padding: 5px 12px;
  display: inline-block;
  width: 60px;
  text-align: center;
  margin-right: 15px;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.3); }

.suggest {
  background-color: #ffffff; }

/** Invert Colors **/
html.invert .badge, html.invert .form-input, html.invert span.fa:hover {
  background-color: rgba(0, 0, 0, 0.1); }

html.invert .isolated {
  color: rgba(0, 0, 0, 0.3); }

html.invert .badge {
  color: rgba(0, 0, 0, 0.2); }

html.invert .title {
  color: rgba(0, 0, 0, 0.5); }

html.invert .form-input {
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1); }

html.invert .colors ul {
  color: rgba(0, 0, 0, 0.4); }

/** Media queries **/
